# Mullvad WireGuard credentials
# Generate at: https://mullvad.net/en/account/wireguard-config
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=

# VPN server location
SERVER_COUNTRIES=USA

# LinuxServer.io container user/group
PUID=501
PGID=20

# Timezone
TZ=America/Los_Angeles

# Path to external drive data directory
DATA_PATH=/Volumes/Fat Boy/data
